@import "../shared/variables";

:host {
  > button {
    align-items: center;
    background: transparent;
    border: 1px solid $color-border-500;
    border-radius: 4px;
    color: $color-font;
    cursor: pointer;
    display: inline-flex;
    font-family: $font-family;
    font-size: $font-size-base;
    font-weight: 400;
    line-height: 3;
    margin: 0;
    padding: 0 calc(#{$font-size-base} * 1.8);
    position: relative;
    transition: .3s;
    user-select: none;
    outline: none;

    &:focus {
      box-shadow: 0 0 0 2px $color-border-300;
    }
  }

  &:hover > button {
    background: $color-border-200;
  }

  &:active > button {
    background-color: $color-border-300;
  }

  &.primary {
    > button {
      background: $color-primary-500;
      border-color: $color-primary-500;
      color: $color-base;

      &:focus {
        box-shadow: 0 0 0 2px $color-primary-300;
      }
    }

    &:hover > button {
      background: $color-primary-400;
      border-color: $color-primary-400;
    }

    &:active > button {
      background: $color-primary-600;
      border-color: $color-primary-600;
      box-shadow: 0 0 0 2px $color-primary-400;
    }
  }

  &.danger {
    > button {
      background: $color-danger-500;
      border-color: $color-danger-500;
      color: $color-base;

      &:focus {
        box-shadow: 0 0 0 2px $color-danger-300;
      }
    }

    &:hover > button {
      background: $color-danger-400;
      border-color: $color-danger-400;
    }

    &:active > button {
      background: $color-danger-600;
      border-color: $color-danger-600;
      box-shadow: 0 0 0 2px $color-danger-400;
    }
  }

  &.ghost {
    > button {
      border-color: transparent;
      background-color: transparent;
    }

    &:hover {
      > button {
        background: $color-border-200;
        border-color: transparent;
      }
    }

    &.primary {
      > button {
        color: #{map-val($colors, '--xui-color-primary500')};
      }

      &:hover {
        > button {
          background: #{map-val($colors, '--xui-color-primary100')};
          border-color: transparent;
        }
      }
    }

    &.danger {
      > button {
        color: #{map-val($colors, '--xui-color-danger500')};
      }

      &:hover {
        > button {
          background: #{map-val($colors, '--xui-color-danger100')};
          border-color: transparent;
        }
      }
    }
  }

  &[disabled] {
    > button {
      background-color: $color-border-300;
      border-color: $color-border-600;
      color: $color-border-600;
      cursor: not-allowed;

      &:focus {
        box-shadow: none;
      }
    }

    &:hover > button {
      background-color: $color-border-300;
      border-color: $color-border-600;
    }
  }
}
