$_gutters: (4, 8, 12, 16, 20);

:host {
  box-sizing: border-box;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 1200px;
  zoom: 1;
  width: 100%;
}

@each $gutter in $_gutters {
  :host(.gutter-#{$gutter}) ::slotted(xui-grid-column) {
      padding-left: $gutter * 1px;
      padding-right: $gutter * 1px;
  }
}
