@import '../shared/variables';

@mixin color($color) {
  color: $color;

  .icon > svg {
    fill: $color;
  }
}

:host {
  align-items: center;
  line-height: 1;
  font-size: $font-size-base;
  font-family: $font-family;
  font-weight: 400;
  display: flex;

  @include color($color-border-600);
}

:host(.success) {
  @include color($color-success-400);
}

:host(.error) {
  @include color($color-danger-400);
}

.icon {
  display: flex;
  margin-right: 4px;

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
  }
}
