@import "../shared/variables";

.xui-control-password-icon {
  $size: 24px;

  align-items: center;
  cursor: pointer;
  display: inline-flex;
  fill: $color-border-600;
  height: $size;
  width: $size;
  transition: fill 300ms;

  &:hover {
    fill: $color-font;
  }
}
