@import "../shared/variables";

:host {
  $base-size: 40px;

  display: inline-block;
}

figure {
  --xui-avatar-size: 40px;

  align-items: center;
  background: $color-primary-400;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-flex;
  font-family: $font-family;
  font-size: .85rem;
  height: var(--xui-avatar-size);
  justify-content: center;
  line-height: 1;
  margin: 0;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  width: var(--xui-avatar-size);

  img {
    border-radius: 50%;
    height: 100%;
    width: auto;
  }

  &[data-initials] {
    &:before {
      content: attr(data-initials);
      color: $color-base;
      position: absolute;
    }
  }

  &.loaded {
    img {
      animation: 200ms linear 1 forwards xui-avatar-loaded;
    }
  }

  &.xl {
    --xui-avatar-size: 64px;

    font-size: 1.8rem;
  }

  &.l {
    --xui-avatar-size: 48px;

    font-size: 1.4em;
  }

  &.s {
    --xui-avatar-size: 32px;

    font-size: .8em;
  }

  &.xs {
    --xui-avatar-size: 24px;

    font-size: .6em;
  }

  &.loading {
    animation: 3000ms linear infinite alternate xui-avatar-loading;
  }
}


@keyframes xui-avatar-loading {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  50% {
    box-shadow: 0 0 0 2px $color-primary-300;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

@keyframes xui-avatar-loaded {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: var(--xui-avatar-size);
    height: var(--xui-avatar-size);
    opacity: 1;
  }
}
