label {
  display: flex;
  flex-direction: column;

  .label {
    margin-bottom: 4px;
    display: flex;
  }

  .content {
    margin-bottom: 4px;
  }

  .messages {
    margin-bottom: 12px;

    &:empty {
      margin-bottom: 32px;
    }
  }
}

:host ::slotted([slot="message"]) {
  margin-bottom: 4px;
}
